doctype html
html.html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title= title
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel='stylesheet', href='/iconfont/iconfont.css')
    link(rel='stylesheet', href='/lib/layer/v3.0.3/skin/default/layer.css')
    link(rel='stylesheet', href='/stylesheets/base.css') 
    


    block css

  body
                    
    block content

    script(src="/lib/jquery/v1.12.4/jquery.min.js")
    script(src="/lib/layer/v3.0.3/layer.js")
    script(src='/lib/laydate/laydate.js')
    script(src='/lib/sortable/jquery-ui.min.js')

    block script
